html {
    height: 100%;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    min-height: 100%;
  }
  
.background-container {
    background-image: url('./images/joshua-sortino-LqKhnDzSF-8-unsplash.jpg');
    background-repeat: repeat-y;
    background-size: contain;
    position: relative;
    padding-bottom: 8.5rem;
}
.movie-list-title {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1rem;
}
.movieList-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-bottom: calc();
}
.card {
    width: 20rem;
   
}
.page-counter {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    padding-bottom: 1rem;
}
.page-counter .btn {
    color: white;
    border: 0.1rem solid white;
    margin: 1rem;
}
.footer {
    padding: 0.5rem;
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
}
.footer a {
    color: rgb(255,193,7);
   
}