.background-container {
    background-image: url('./images/joshua-sortino-LqKhnDzSF-8-unsplash.jpg');
    background-repeat: repeat-y;
    background-size: contain;
}
.movie-list-title {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1rem;
}
.movieList-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    width: 20rem;
    margin-bottom: 2rem;
   
}
.page-counter {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
}
.page-counter .btn {
    color: white;
    border: 0.1rem solid white;
    margin: 2rem;
}
.footer {
    padding: 0.5rem;
    background-color: black;
    color: white;
    text-align: center;
}
.footer a {
    color: rgb(255,193,7);
}